@font-face {
  font-family: kanit;
  src: url(../fonts/kanit/Kanit-Regular.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: kanit;
  src: url(../fonts/kanit/Kanit-Medium.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}
::-webkit-scrollbar {
  width: 10px;
  scrollbar-color: var(--darken-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: kanit, "sans-serif";
  transition: 0.5s;
}
:root {
  --primary-color: #e9a436;
  --main-color: #1d7886;
  --background-color: #faf2e0;
  --darken-color: #363736;
  --third-color: #feccb5;
}
body {
  overflow-x: hidden;
  cursor: url("../images/cursor.png") 4 4, auto;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
}
a:hover,
button:hover,
input[type="submit"] {
  cursor: url("../images/click\ cursor.png") 3 4, auto;
}
.effect {
  padding: 5px 40px !important;
  background-color: var(--primary-color);
  box-shadow: 0 1px 10px var(--darken-color);
}
.tag-canvas {
  width: 100%;
  height: 500px;
  position: relative;
  border: 1px solid var(--main-color);
}
.typewrite {
  border-color: transparent;
  border-right: 3px solid #000;
  animation: 0.6s step-end infinite writer;
  width: fit-content;
  color: transparent;
}
.wrap {
  color: var(--darken-color);
}
@keyframes writer {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
